<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD MyBatis Configuration 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <properties resource="props/db.properties" />
    
    <settings>
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
    </settings>  
    
    <typeAliases>
        <typeAlias alias="tourDTO" type="totapi.domain.TourDTO"/>
        <typeAlias alias="basicTourDTO" type="totapi.domain.BasicTourDTO"/>
        <typeAlias alias="regionTourDTO" type="totapi.domain.RegionTourDTO"/>
        <typeAlias alias="tourShowDTO" type="totapi.domain.TourShowDTO"/>
    </typeAliases>
    
    <mappers>
        <mapper resource="totapi/mapper/TourMapper.xml"/>
    </mappers>
    
</configuration>
