<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD MyBatis Configuration 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <properties resource="props/db.properties" />
    
    <typeAliases>
        <typeAlias alias="tourVO" type="totapi.domain.TourVO"/>
    </typeAliases>
    
    <!-- Sql Mapper -->
    <mappers>
        <mapper resource="totapi/mapper/TourMapper.xml"/>
    </mappers>  
    
</configuration>
